#footer {
    clear: both;
}

#header {
    background-color: #2078FF;
    width: 900px;
    height: 60px;
    margin: 0px;
    padding: 0px;
    position: relative;
}

body, html {
    margin: 0px;
    padding: 0px;
}

head {
    display: none;
    margin: 0px;
    padding: 0px;
}
