#change_settings {
    width: 512px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 25px;
}

#change_settings p {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#change_settings p a {
    margin-left: 30px;
}

#password_form {
    margin-bottom: 25px;
}

.input label {
    width: 512px;
    font-size: 16px;
}

.input input {
    width: 498px;
    padding: 5px;
    font-size: 14px;
}

#success {
    background-color: #03F621;
    width: 512px;
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
}
