#register_form {
    width: 512px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}

.input {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.submit {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.text {
}

input[type=password], input[type=text] {
    padding: 5px;
    width: 100%;
}

label {
    width: 100%;
    float: left;
}

#password_fields {
    margin-top: 25px;
    margin-bottom: 25px;
}

#email_fields {
    margin-top: 25px;
    margin-bottom: 25px;
}
