#shows {
    width: 512px;
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
}

div.show p {
    margin: 0px;
    padding: 0px;
}

div.show {
    margin: 0px;
    padding: 0px;
}
