.upcoming_date {
    text-align: left;
}

.upcoming_show {
    text-align: center;
}

.upcoming_episode {
    text-align: center;
}

.upcoming_details {
    text-align: right;
}

#episodes {
    width: 512px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

#upcoming_table {
    width: 100%;
    margin-top: 7px;
}

#upcoming_table tbody tr td {
    padding-top: 3px;
    padding-bottom: 3px;
}
