/* reset.css (64%) */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0;}
body{line-height:1;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:none;}
:focus{outline:0;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}

/* site.css (68%) */
#footer{clear:both;}
#header{background-color:#2078FF;width:960px;height:60px;position:relative;margin:0;padding:0;}
body,html{width:960px;color:#000;text-shadow:#eee 1px 1px 0;font-family:sans;font-size:13px;margin:0 auto;padding:0;}
head{display:none;margin:0;padding:0;}
#logo img{float:left;max-width:200px;padding:10px;}
.header4{height:40px;width:100%;}
.header4 h4{margin-left:10px;line-height:40px;}
h1{font-size:26px;}
h4{font-size:14px;}
h1 h2 h3 h4{font-weight:700;color:#52595D;}
a{text-decoration:none;color:#000;}
a:hover{text-decoration:underline;}
.page_title{padding-top:25px;padding-bottom:25px;margin-left:224px;}
.center{text-align:center;}

/* navbar.css (65%) */
div.navbar{float:left;}
.navbar a{text-decoration:none;color:#000;}
.nav_item{width:150px;height:25px;line-height:25px;}
.nav_item a{font-size:14px;padding-left:10px;width:150px;display:block;}
.nav_item:hover{background-color:rgba(32,120,255,0.5);}
.nav_selected,.nav_selected:hover{background-color:rgba(32,120,255,0.9);}