/* Setup the values for the show block */
#shows {
    width: 512px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 25px;
}

/* Make sure no padding is on the red x column so that it appears nicely */
.unfollow {
    padding-top: 0px;
    padding-bottom: 0px;
    vertical-align: middle;
}

/* Provide some padding to the cells to separate the values some */
.normal_td {
    padding-top: 6px;
    padding-bottom: 6px;
}

/* Set the table to be as wide as the body */
#shows table {
    /*width: 100%;*/
}

/* Add some white space to separate the follow/unfollow from the table */
#add_show_link {
    margin-top: 25px;
}

/* Limit the size of the red x so as not to screw up the table */
.unfollow img {
    max-width: 15px;
    max-height: 15px;
    border: 1px outset;
}

/* Make the cursor a pointer while over the red x */
.unfollow img:hover {
    cursor: pointer;
}

#first_col {
    width: 18px;
}
#second_col {
    width: 214px;
}
#third_col {
    width: 140px;
}
#fourth_col {
    width: 140px;
}

#search_div input {
    width: 350px;
}
#search_div ul {
    width: 350px;
}

.autocomplete_item {
    height: 20px;
    line-height: 20px;
}

.autocomplete_image {
    margin-right: 3px;
    float: left;
    width: 20px;
    height: 20px;
    max-width: 20px;
    max-height: 20px;
}
li[class=autocomplete_item]:hover div {
    background-image: url('/img/add_item.png');
}
.added_show div {
    background-image: url('/img/green_check_small.png');
}

#show_name_matches {
    position: absolute;
    background-color: #fff;
    border: 1px solid;
}
